.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.yellow {
    height: 650px;
    width: 650px;
    background-color: #fedb89;
    position: relative;
    transform: rotate(45deg);

}

.red {
    height: 300px;
    width: 300px;
    background-color: #fe9fb7;
    opacity: 0.5;
    left: 430px;
    top: 370px;
    position: absolute;
}

.green {
    height: 300px;
    width: 300px;
    background-color: #89d188;
    opacity: 0.5;
    top: -20px;
    left: -80px;
    position: absolute;
}