/* * {
    outline: 1px solid red;
} */

.wrapper {
    margin: 0;
}

.box {
    width: 585px;
    height: 20px;
    margin: auto;
    display: flex;
    position: relative;
}

.line {
    height: 0;
    width: 195px;
    outline: 2px solid #e3dedb;
}

.pastLine {
    height: 0;
    width: 195px;
    outline: 2px solid #c17a33;

}

.point1 {
    position: absolute;
    border-radius: 50%;
    /* width: 20px;
    height: 20px;
    border: 7px solid green; */
    transform: translate(-50%, -50%);
}

.point2 {
    position: absolute;
    border-radius: 50%;
    /* width: 20px;
    height: 20px;
    border: 7px solid green; */
    transform: translate(-50%, -50%);
    left: 195px
}

.point3 {
    position: absolute;
    border-radius: 50%;
    /* width: 20px;
    height: 20px;
    border: 7px solid green; */
    transform: translate(-50%, -50%);
    left: 390px
}

.point4 {
    position: absolute;
    border-radius: 50%;
    /* width: 20px;
    height: 20px;
    border: 7px solid green; */
    transform: translate(-50%, -50%);
    left: 585px
}

.currentPoint {
    width: 26px;
    height: 26px;
    border: 9px solid #c17a33;
    background-color: white;
}

.pastPoint {
    width: 18px;
    height: 18px;
    border: 5px solid #c17a33;
    background-color: white;

}

.futurePoint {
    width: 7px;
    height: 7px;
    background-color: #cfc4ba;

}

.infoWay {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 645px;
}

.note {
    color: #c17a33;
    font-size: 12px;
    font-weight: 700;
}