.invisible {
    font-size: 18px;
    color: #c17a33;
    font-weight: 500;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pageWrapper {
    width: 100%;
    text-align: center;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginWrapper {
    width: 285px;
    text-align: center;
}

.inputModule {
    text-align: start;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    font-size: 15px;
    height: 40px;
    width: 285px;
    text-align: center;
    vertical-align: bottom;
    border: 1px solid #c17a33;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    background: transparent;
    color: #555555;
}

.error {
    margin: 7px;
    color: red;
    height: 20px;
    font-size: 15px;
    font-family: "Lato", AdobeInvisFont, Tahoma, MyriadPro-Regular, sans-serif;
    font-weight: 700;
}

.button {
    height: 40px;
    width: 285px;
    color: white;
    background: #c17a33;
    font-size: 20px;
    border: none;
    font-family: "Lato", AdobeInvisFont, Tahoma, MyriadPro-Regular, sans-serif;
    font-weight: 700;
    cursor: pointer;
}
